*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_one_movie{
   margin-left: 60px;
   display: flex;
   width: 100%;
   justify-content: center;
   padding: 30px;
   flex-wrap: wrap;
   gap: 20px;
}

.one_movie_img{
    width: 350px;
    border-radius: 20px;
}

.one_movie_details{
    padding: 10px 20px;
}

.video_box{
    width: 100%;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.video_box video {
    width: 90%;
    height: auto;
    border-radius: 10px;
}