*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.one_movie_img{
 width: 200px;
 border-radius: 5px;
}
.one_movie_img_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.video_box{
    width: 100%;
    height: auto;
}
.video_box video {
    width: 100%;
    height: auto;
}

.one_movie_box{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    padding-bottom: 100px;
}

.play_button_box{
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
}

.btn_play{
    padding: 10px 30px;
    background-color: red;
    border: none;
    color: white;
}


